.main {
    position: relative;
}
#yj {
    position: absolute;
    display: inline-block;
    font-style: italic;
    font-family:  "Monotype Corsiva", "Apple Chancery", "URW Chancery L", cursive;
    font-size: 200%;
    color: black;
    word-spacing: 3;
    line-height: 2.5;
    top: 10%;
    left: 5%;
    font-weight: bolder;
}
#yj:hover{
    color: dimgrey;
    transition-duration: 0.8s;
}
.main > .virus {
    position: absolute;
    display: inline-block;
    width: 33%;
    height: 360;
    border: solid none;
    border-bottom-left-radius: 24px;
    border-top-left-radius: 24px;
    right: 0;
    top: 10%;
    background-image: url('../media/virus.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    font-style: italic;
    font-weight: bolder;
    font-family:  "Monotype Corsiva", "Apple Chancery", "URW Chancery L", cursive;
    font-size: 220%;
    line-height: 4;
    text-decoration: none;
    text-align: center;
}
.main > .virus:hover{
    opacity: 0.3;
    transition-duration: 1.2s;
}
.cor {
    position: absolute;
    display: inline-grid;
    grid-gap: 20px;
    height: 360px;
    top: 10%;
    width: 10%;
    left: 55%;
}
.cor img{
    border: solid none;
    border-radius: 50px;
    width: 80%;
    height: 100%;
}
.cor img:hover {
    opacity: 0.5;
    transition-duration: 1.2s;
}
.main > .men {
    position: absolute;
    display: inline-block;
    width: 33%;
    height: 360px;
    border: solid none;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    left: 0;
    top: 530px;
    background-image: url('../media/mental.png');
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    text-decoration: none;
    color: white;
    text-align: left;
    line-height: 1;
    font-weight: bolder;
    font-family:  "Monotype Corsiva", "Apple Chancery", "URW Chancery L", cursive;
    font-size: 220%;
    -webkit-text-stroke: 0.5px black;
}
.men span{
    position: absolute;
    color: white;
    -webkit-text-stroke: 0.5px black;
    font-weight: bolder;
    font-family:  "Monotype Corsiva", "Apple Chancery", "URW Chancery L", cursive;
    text-align: left;
    bottom: -90px;
    left: 0;
}
.main > .men:hover{
    opacity: 0.5;
    transition-duration: 1.2s;
}
.mental {
    position: absolute;
    display: inline-grid;
    grid-gap: 20px;
    height: 360px;
    top: 530px;
    width: 10%;
    left: 35%;
}
.mental img{
    border: solid none;
    border-radius: 50px;
    width: 80%;
    height: 100%;
}
.mental img:hover {
    opacity: 0.5;
    transition-duration: 1.2s;
}
#eg {
    position: absolute;
    display: inline-block;
    font-style: italic;
    font-family:  "Monotype Corsiva", "Apple Chancery", "URW Chancery L", cursive;
    font-size: 200%;
    color: black;
    word-spacing: 8px;
    line-height: 3;
    font-weight: bolder;
    top: 530px;
    right: 2%;
}
#eg:hover{
    color: dimgrey;
    transition-duration: 0.8s;
}
#er {
    position: absolute;
    display: inline-block;
    font-style: italic;
    font-family:  "Monotype Corsiva", "Apple Chancery", "URW Chancery L", cursive;
    font-size: 200%;
    color: black;
    word-spacing: 8px;
    line-height: 80px;
    font-weight: bolder;
    top: 980px;
    left: 5%;
}
#er:hover{
    color: dimgrey;
    transition-duration: 0.8s;
}
.onco {
    position: absolute;
    display: inline-grid;
    grid-gap: 20px;
    height: 360px;
    top: 980px;
    width: 10%;
    left: 55%;
}
.onco img{
    border: solid none;
    border-radius: 50px;
    width: 80%;
    height: 100%;
}
.onco img:hover {
    opacity: 0.5;
    transition-duration: 1.2s;
}

.main > .onco-sec {
    position: absolute;
    display: inline-block;
    width: 33%;
    height: 360px;
    border: solid none;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    opacity: 0.8;
    right: 0;
    top: 980px;
    background-image: url('../media/cancer.jpeg');
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-family:  "Monotype Corsiva", "Apple Chancery", "URW Chancery L", cursive;
    font-size: 250%;
    text-align: center;
    margin-bottom: 100px;
    -webkit-text-stroke: 0.5px black;
}

.onco-sec span{
    position: absolute;
    color: white;
    font-weight: bolder;
    font-family:  "Monotype Corsiva", "Apple Chancery", "URW Chancery L", cursive;
    font-size: 100%;
    text-align: center;
    bottom: 0;
    -webkit-text-stroke: 0.5px black;
    right: 3%;
}
.onco-sec:hover {
    opacity: 0.4;
    transition-duration: 1.2s;
}
