{% extends 'base.html' %}

{% set page_head_title = 'dba' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('dba.static', filename='css/dba.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    <div class="dba">

        <h1> DBA Content management page</h1>


        {% if (session['logged-in']) and (session['name']=='dba') %}
            {% if message|length>0 %}
                <p id="message">
                    {{ message }} <br> <br>
                </p>
            {% endif %}
            {% if table %}
                <h2 class="table_name"> Table name: {{table_name}}</h2>
                <form method="post" action="./dba?table={{table_name}}" class="table_name">
                    <table border="1">
                        <tr>
                            <th></th>
                            {% for column in table_columns %}
                                <th>{{column.COLUMN_NAME}}</th>
                            {% endfor %}
                        </tr>
                        {% for row in table_data %}
                            <tr>
                                <td>  <input type="checkbox" name='delete' value='{{ loop.index }}'> {{ loop.index }} </td>
                                {% for column in table_columns %}
                                    <td>{{row|attr(column.COLUMN_NAME)}}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                        <br> <input type="submit" value='Delete'>
                    </form>

                <div class="update">
                    <h2> Update a row </h2>
                    <p class="instructions">Please choose the row you would like to update and write the new row values: </p>
                    <form method="post" action="./dba?table={{table_name}}">
                        <select name='update'>
                            {% for i in range(1, table_data|length +1) %}
                                <option value='{{ i }}'>{{ i }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        {% for i in range(table_columns|length ) %}
                            {% set type=columns_types[i].DATA_TYPE %}
                            {% set column=table_columns[i].COLUMN_NAME %}
                            {% if (type=='int') or (type=='bigint') or (type=='bit') or (type=='tinyint') or
                            (type=='bool') or (type=='smallint') or (type=='mediumint') %}
                                <b>{{ column }}</b> <br>
                                Type: {{ type }} <br>
                                <input type="number" name='{{ column }}'> <br>
                            {% elif (type=='float') or (type=='double')%}
                                <b>{{ column }}</b> <br>
                                Type: {{ type }} <br>
                                <input type="number" name='{{ column }}' step="0.01"> <br>
                            {% elif type=='date' %}
                                <b>{{ column }}</b> <br>
                                Type: {{ type }} (YYYY-MM-DD) <br>
                                <input type="text" name='{{ column }}'> <br>
                            {% else %}
                                <b>{{ column }}</b> <br>
                                Type: {{ type }} <br>
                                <input type="text" name='{{ column }}'> <br>
                            {% endif %}
                        {% endfor %}

                        <input type="submit" value='Update'>
                    </form>
                </div>

                    <form method="post" action="./dba?table={{table_name}}">
                <div class="insert">
                    <h2> Insert a new row </h2>
                        <p class="instructions"> In order to insert a new entry to the table, please fill the details here: </p>
                        {% for i in range(table_columns|length ) %}
                            {% set type=columns_types[i].DATA_TYPE %}
                            {% set column=table_columns[i].COLUMN_NAME %}
                            {% if (type=='int') or (type=='bigint') or (type=='bit') or (type=='tinyint') or
                            (type=='bool') or (type=='smallint') or (type=='mediumint') %}
                                {% if nullable[i].IS_NULLABLE=='NO' %}
                                    <b>{{ column }}</b> <br>
                                    Type : {{ type }} (mandatory field) <br>
                                    <input type="number" name='{{ column }}' required> <br>
                                {% else %}
                                    <b>{{ column }}</b> <br>
                                    Type : {{ type }} <br>
                                    <input type="number" name='{{ column }}'> <br>
                                {% endif %}
                            {% elif (type=='float') or (type=='double')%}
                                {% if nullable[i].IS_NULLABLE=='NO' %}
                                    <b>{{ column }}</b> <br>
                                    Type: {{ type }} (mandatory field)<br>
                                    <input type="number" name='{{ column }}' step="0.01" required> <br>
                                {% else %}
                                    <b>{{ column }}</b> <br>
                                    Type: {{ type }} <br>
                                    <input type="number" name='{{ column }}' step="0.01"> <br>
                                {% endif %}
                            {% elif type=='date' %}
                                {% if nullable[i].IS_NULLABLE=='NO' %}
                                    <b>{{ column }}</b>
                                    <br> Type : {{ type }} (YYYY-MM-DD) <br>
                                    (mandatory field)  <br>
                                    <input type="text" name='{{ column }}' required> <br>
                                {% else %}
                                    <b>{{ column }}</b> <br>
                                    Type : {{ type }} (YYYY-MM-DD) <br>
                                    <input type="text" name='{{ column }}'> <br>
                                {% endif %}
                            {% else %}
                                {% if nullable[i].IS_NULLABLE=='NO' %}
                                    <b>{{ column }}</b> <br>
                                    Type : {{ type }} <br>
                                    (mandatory field) <br>
                                    <input type="text" name='{{ column }}' required> <br>
                                {% else %}
                                    <b>{{ column }}</b> <br>
                                    Type : {{ type }}<br>
                                    <input type="text" name='{{ column }}'> <br>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <input type="submit" value='Insert'>
                    </form>
                </div>
            {% else %}


                <div class="tables">
                <h2> View table</h2>
                    <p class="instructions">Please choose the DB table you would like to view:<br><br> </p>
                    <ul>
                        {% for table in tables_names %}
                            <li><a href="./dba?table={{table.TABLE_NAME}}"> {{table.TABLE_NAME.replace('_', ' ').capitalize()}} </a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="drop">
                    <h2>Drop table</h2>
                    <p class="instructions">Please choose the DB table you would like to drop: </p> <br>
                    <form method="post" action="{{ url_for('dba.index') }}">
                        <select name='drop'>
                            {% for table in tables_names %}
                                <option value='{{table.TABLE_NAME}}'>{{table.TABLE_NAME}}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="Drop">
                    </form>
                </div>

                <div class="create">
                <h2>Create table</h2>
                <p class="instructions"> Please fill the details to create new table. You may insert up to 7 columns: </p> <br>
                <form method="post" action="{{ url_for('dba.index') }}">
                    <div class="create_feilds">
                        Table name: <input type="text" name='create' required> <br> <br> <br>
                        {% for i in range(1,8) %}
                            <b>{{ i }}.</b>
                            Column name
                            <input type="text" name='{{ i }}column'> <br>
                            &nbsp; Column type
                            <select name='{{ i }}type'>
                                {% set types=['varchar(50)', 'varchar(255)', 'varchar(500)', 'text',
                                'longtext', 'int', 'float', 'date'] %}
                                {% for type in types %}
                                    <option value='{{ type }}'>{{ type }}</option>
                                {% endfor %}
                            </select> <br>
                            <input type="checkbox" name='p_key' value='{{ i }}'> Primary key <br>
                            <input type="checkbox" name='f_key' value='{{ i }}'> Foreign key to
                            <select name='{{ i }}f_table'>
                            {% for table in tables_names %}
                                <option value="{{ table.TABLE_NAME }}"> {{ table.TABLE_NAME }}</option>
                            {% endfor %}
                            </select>
                            column <input type="text" name='{{ i }}f_column'> <br>
                            <input type="checkbox" name='not_null' value='{{ i }}'> Not NULL <br>
                            <input type="checkbox" name='unique' value='{{ i }}'> Unique <br> <br> <br>
                        {% endfor %}
                        <input type="submit" value="Create">
                    </form>
                    </div>
                </div>
            {% endif %}

        {% else %}

            <div class="log">

                <h2>Please <a href="/login">log-in</a> as the DBA in order access the DBA management page. </h2>

            </div>

        {% endif %}

    </div>

{% endblock %}

{% block page_body_footer %}
{% endblock %}


{% block page_body_js %}
    <script src="{{ url_for('dba.static', filename='js/dba.js') }}"></script>
{% endblock %}
