.catalog_head{
    position: relative;
    text-align: center;
    font-weight: bold;
    font-family: "Monotype Corsiva", "Apple Chancery", "URW Chancery L", cursive;
    color: black;
    word-spacing: 10px;
    letter-spacing: 5px;
    font-size: 30px;
}
.catalog h1{
    text-align: center;
    font-weight: bold;
    font-family: "Monotype Corsiva", "Apple Chancery", "URW Chancery L", cursive;
    color: black;
    word-spacing: 10px;
    letter-spacing: 5px;
    font-size: 30px;
}

/*
.one {
    display: grid;
    grid-template-columns: 200px 200px;

    padding-left: 13%;
    /*
    padding-left: 13%;
    padding-bottom: 10%;
    align-items: center;
}*/
.catalog img{
    width: 200px;
    height: 200px;
    border-radius: 80px;
}

.catalog a{
    width: 200px;
    height: 200px;
}
.one{
    position: relative;
    padding-left: 5%;
    padding-bottom: 10%;
}
.two {

    display: inline-block;
    font-weight: bolder;
}
.three {
    display: inline-block;
    padding-left: 6%;
}

.catalog img:hover {
    opacity: 0.6;
    transition-duration: 1.2s;
}






